<div class="app-login-form" ng-class="$ctrl.formClasses()">
  <form name="loginform" ng-submit="loginform.$valid && $ctrl.login()">
    <div class="app-login-form__row app-login-form__username-wrapper">
      <div class="app-login-form__col">
        <label for="username">Username:</label>
      </div>
      <div class="app-login-form__col">
        <input type="text" name="username" ng-disabled="$ctrl.inputDisabled()" required="true" ng-model="$ctrl.username">
      </div>
    </div>
    <div class="app-login-form__row app-login-form__password-wrapper">
      <div class="app-login-form__col">
        <label for="username">Password:</label>
      </div>
      <div class="app-login-form__col">
        <input type="text" name="password" ng-disabled="$ctrl.inputDisabled()" required="true" ng-model="$ctrl.password">
      </div>
    </div>
    <div class="app-login-form__row">
      <div class="app-login-form__col"></div>
      <div class="app-login-form__col u-ptop5">
        <button ng-disabled="$ctrl.submitDisabled()"
                class="app-button u-full u-text-center app-button--green"
                type="submit">
          Login
        </button>
      </div>
    </div>
  </form>
  <div class="app-login-form__info" ng-class="$ctrl.state.classes()" ng-if="$ctrl.state.visible">
    {{$ctrl.state.message}}
  </div>
</div>